/* Estilo para o corpo da página */
body 
{
    background-image: url("Digimon.jpg"); /* Define a imagem de fundo */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-attachment: fixed; /* A imagem de fundo fica fixa durante a rolagem */
    background-size: cover; /* A imagem cobre todo o fundo da tela */
}

/* Estilo para o contêiner de campos de entrada */
.field 
{
    background-color: rgba(152, 211, 230, 0.712);/* Cor de fundo com transparência */
    color: white; /* Cor do texto */
    margin: 0 auto; /* Centraliza a tabela horizontalmente */
    border: 2px solid rgba(95, 197, 134, 0.795); /* Borda da tabela */
    border-radius: 15px; /* Bordas arredondadas */
    font-size: 25px; /* Tamanho da fonte */
    width: 500px; /* Largura fixa do contêiner */
    text-align: center; /* Alinha o texto ao centro */
    padding: 10px; /* Espaçamento interno */
    margin-top: 10px; /* Espaçamento acima do contêiner */   
}

/* Estilo para o campo de efeito (link) */
.efeito 
{
    background-color: rgba(97, 179, 206, 0.979); /* Cor de fundo do campo */
    border: 2px solid rgba(95, 197, 134, 0.795); /* Borda da tabela */
    width: 150px; /* Largura fixa do campo */
    margin: 0 auto; /* Centraliza o campo horizontalmente */
    text-align: center; /* Alinha o texto ao centro */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 10px; /* Espaçamento interno */
    margin-top: 15px; /* Espaçamento acima do campo */
}

/* Estilo específico para links dentro do campo de efeito */
.efeito a 
{
    color: white; /* Cor do texto do link */
    font-size: 30px; /* Tamanho da fonte do link */
    text-decoration: none; /* Remove o sublinhado do link */
}

/* Efeito de hover para o campo de efeito */
.efeito:hover 
{
    background-color: rgb(107, 223, 151); /* Altera a cor de fundo ao passar o mouse */
}

/* Estilo para o cabeçalho principal */
.h1 
{
    font-size: 45px; /* Tamanho da fonte */
    font-family: impact; /* Fonte utilizada */
    text-shadow: 0 3px 0 #fff; /* Sombra do texto */
    text-align: center; /* Alinha o texto ao centro */
}

/* Estilo para a tabela */
.table 
{
    background-color: rgba(152, 211, 230, 0.6); /* Cor de fundo com transparência */
    margin: 0 auto; /* Centraliza a tabela horizontalmente */
    border: 2px solid rgb(95, 197, 134); /* Borda da tabela */
    border-radius: 15px; /* Bordas arredondadas */
    font-size: 23px; /* Tamanho da fonte */
}

/* Estilo para as células da tabela */
.table td 
{
    border: 1px solid rgb(92, 195, 132); /* Borda das células */
    border-radius: 5px; /* Bordas arredondadas nas células */
}

/* Estilo para links dentro da tabela */
.table a 
{
    text-decoration: none; /* Remove o sublinhado do link */
}

/* Efeito de hover para links dentro da tabela */
.table a:hover 
{
    background-color: rgb(92, 195, 122); /* Altera a cor de fundo ao passar o mouse */
    color: white; /* Altera a cor do texto ao passar o mouse */
    border-radius: 5px; /* Bordas arredondadas ao passar o mouse */
}

/* Estilo para o botão "voltar" */
.voltar 
{
    background-color: rgba(97, 179, 206, 0.979); /* Cor de fundo do campo */
    border: 2px solid rgba(95, 197, 134, 0.795); /* Borda da tabela */
    width: 150px; /* Largura fixa do botão */
    margin: 0 auto; /* Centraliza o botão horizontalmente */
    text-align: center; /* Alinha o texto ao centro */
    padding: 5px; /* Espaçamento interno */
    margin-top: 15px; /* Espaçamento acima do botão */
}

/* Estilo específico para links dentro do botão "voltar" */
.voltar a 
{
    color: white; /* Cor do texto do link */
    font-size: 30px; /* Tamanho da fonte do link */
    text-decoration: none; /* Remove o sublinhado do link */
}

/* Efeito de hover para o botão "voltar" */
.voltar:hover 
{
    border-radius: 15px; /* Bordas arredondadas ao passar o mouse */
    background-color: rgb(122, 217, 157); /* Altera a cor de fundo ao passar o mouse */
}

/* Estilo para centralizar o botão Buscar */
.btnContainer 
{
    text-align: center; /* Centraliza o conteúdo no contêiner */
}
